@page
@model Agronomous.createGardenModel
@{
    ViewData["Title"] = "createGarden";
}

<h1 style="text-align:center">Create Your Garden</h1>
<form method="post">
    <div id="searchbar" class="input-group">
        <input type="search" placeholder="Search your plant" asp-for="searchTerm" style="width:75%; margin-top:3%;"/>
        <button type="submit" class="btn input-group-sm btn-light" id="search" style="margin-top:3%">Find And Add</button>
    </div>
</form>
<br />
@for (int i = 0; i <= Model.plants.aggregateGarden(Guid.Parse(Model.db.Users.FirstOrDefault(r => r.UserName == Model.User.Identity.Name).plantGuid)).Count(); i += 3)
{
    <div class="card-group">
        @for (int f = 0; f < 3; f++)
        {
            @if (!(i + f >= Model.plants.aggregateGarden(Guid.Parse(Model.db.Users.FirstOrDefault(r => r.UserName == Model.User.Identity.Name).plantGuid)).Count()))
            {
                <div class="card border-success mb-3" style="width: 24rem">
                    <div class="card-body">
                        <h5 class="card-title">@Model.plants.aggregateGarden(Guid.Parse(Model.db.Users.FirstOrDefault(r => r.UserName == Model.User.Identity.Name).plantGuid))[i + f].NormalName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.plants.aggregateGarden(Guid.Parse(Model.db.Users.FirstOrDefault(r => r.UserName == Model.User.Identity.Name).plantGuid))[i + f].botanicalName</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Model.plants.aggregateGarden(Guid.Parse(Model.db.Users.FirstOrDefault(r => r.UserName == Model.User.Identity.Name).plantGuid))[i + f].PlantType</li>
                            <li class="list-group-item">Blooms in @Model.plants.aggregateGarden(Guid.Parse(Model.db.Users.FirstOrDefault(r => r.UserName == Model.User.Identity.Name).plantGuid))[i + f].BloomTime.ToLowerInvariant()</li>
                            <li class="list-group-item">Soil ph should be @Model.plants.aggregateGarden(Guid.Parse(Model.db.Users.FirstOrDefault(r => r.UserName == Model.User.Identity.Name).plantGuid))[i + f].SoilPh</li>
                        </ul>
                        <button asp-page="addDevice" class="btn btn-outline-success">Add A Smart Device</button>  
                    </div>
                </div>
            }
            else
            {
                break;
            }
        }
    </div>
}